* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', Arial, Helvetica, sans-serif;
    color: rgb(58, 58, 58);
}

body {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

input[type="color"] {
    -webkit-appearance: none;
    width: 80px;
    height: 40px;
    border: none;
}

input[type="color"]:hover {
    cursor: pointer;
}

#slider-label {
    font-size: 24px;
}

#slider {
    width: 180px;
    height: 15px;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
}
  
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}


header {
    font-size: 50px;
    padding: 10px 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 60px;
    row-gap: 20px;
}

#controls {
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
}

#controls div {
    display: flex;
    width: 180px;
    justify-content: flex-start;
    align-items: center;
}
#controls div label {
    font-size: 20px;
    padding-left: 4px
}

button {
    width: 180px;
    height: 30px;
    font-size: 26px;
    background-color:#00000000;
    border: 1px solid rgb(0, 0, 0);
    transition: scale .2s;
}

button:hover {
    scale: 1.1;
    cursor: pointer;
}

button.active {
    color: white;
    background-color: rgb(58, 58, 58);
}

#container {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    width: 70vh;
    background-color: white;
    box-shadow: 1px 1px 10px #0000005c;
}

@media (max-width: 850px) {
    #container {
        width: 50vh;
    }
}

@media (max-width: 500px) {
    #container {
        width: 40vh;
    }
}

.row-div {
    display: flex;
    flex: 1 1 auto;
}

.div {
    flex: 1 1 auto;
}


.div.grid {
    border: 0.01px solid rgba(128, 128, 128, 0.171);
}

